<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <p>Status Database: <%= dbStatus %> 
  </p>
  <p>CRUD <a href="/posts">Link</a></p>
</body>

</html>